
input[type="radio"][disabled] {
  border-color: #212529;
}

input[type="radio"] {
  border: 1px solid #212529;
  border-radius: 8px;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
}

input[type="radio"]:checked, input[type=checkbox]:focus {
  background-color: #212529;
  outline: none;
}

.center {
  text-align: center;
}

.form-row, .form-group, .frow {
  margin-bottom: 10px;
}

#signature {
  border: 1px solid black;
}

#signature-img {
  margin-bottom: 20px;
}

#toast {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999999;
}

#save, #download {
  color: #2980b9;
  border-color: #2980b9;
}

#save:hover, #download:hover {
  color: white;
  border-color: #2980b9;
  background-color: #2980b9; 
}

.jumbotron, .fheight {
  height: 100% !important;
  width: 100%;
  margin-bottom: 0;
}

.page-footer {
  color: white;
}

.bg-cred {
  background-color: #e74c3c;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255, .6);
}

.active {
  color: white !important;
  font-weight: bold;
}

.form-check-label {
  color: #212529 !important;
}

.info {
  font-size: 12px;
}