extends templates/layout.pug

block content
  div(class="jumbotron")
    div(class='container-fluid')
      div(class="row")
        div(class="col-sm center")
          h1 Deroga-19 c'est quoi ?
          p
            | Deroga-19 c'est un POC d'une solution numérique sous forme de site web permettant
            | aux personnes le souhaitant de créer leur ATTESTATION DE DÉPLACEMENT DÉROGATOIRE
            | en toute simplicité et sans exposer leurs données.
            | Aussi elle facilitera les contrôles de police de cette dernière, car aucun contact
            | n'est requis, juste un scan du QR code.
      div(class="row")
        div(class="col-sm center")
          h1 Pourquoi ?
