extends templates/layout.pug

block content
  include templates/deroga-header.pug

    include templates/deroga-body.pug

    include templates/deroga-info.pug

    div(class="row")
      div(class="col-sm center")
        img(id="qrcode" class="img-fluid img-thumbnail" src=qrCodeSrc)

    div(class="row" hidden=(hidden ? "hidden" : undefined))
      div(class="col-sm center")
        a(id="download" class="btn btn-outline-success btn-lg") Télécharger le PDF

  script(src="js/pdf.js" data=pdfBuffer)