div(id="info")
  p
    | 1 - Les personnes souhaitant bénéficier de l'une de ces exceptions doivent se munir s’il y a lieu, lors de leurs <br/>
    | déplacements hors de leur domicile, d'un document leur permettant de justifier que le déplacement considéré entre <br/>
    | dans le champ de l'une de ces exceptions.
  p
    | 2 - A utiliser par les travailleurs non-salariés, lorsqu’ils ne peuvent disposer d’un justificatif de déplacement établi par leur <br/>
    | employeur.
  p
    | 3 - Y compris les acquisitions à titre gratuit (distribution de denrées alimentaires…) et les déplacements liés à la <br/>
    | perception de prestations sociales et au retrait d’espèces.
