div(class="jumbotron")
  div(class='container-fluid')
    div(class="row")
      div(class="col-sm center")
        h4 ATTESTATION DE DÉPLACEMENT DÉROGATOIRE

    div(class="row")
      div(class="col-sm center")
        p
          | En application de l’article 3 du décret du 23 mars 2020  prescrivant les mesures générales <br/>
          | nécessaires pour faire face à l’épidémie de Covid19 dans le cadre de l’état d’urgence sanitaire <br/>

    div(class="row")
      div(class="col-sm frow")
        p Je soussigné(e)
