div(class="row")
  div(class="col-sm frow")
    p
      | certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par <br/>
      | l’article 1er du décret du 16 mars 2020 portant réglementation des déplacements dans <br/>
      | le cadre de la lutte contre la propagation du virus Covid-19 :

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" value="1" checked=(raison === "1" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c1")
      | déplacements entre le domicile et le lieu d’exercice de l’activité professionnelle, <br/>
      | lorsqu’ils sont indispensables à l’exercice d’activités ne pouvant être organisées <br/>
      | sous forme de télétravail (sur justificatif permanent) ou déplacements <br/>
      | professionnels ne pouvant être différés.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" value="2" checked=(raison === "2" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c2")
      | déplacements pour effectuer des achats de première nécessité dans des <br/>
      | établissements autorisés (liste sur gouvernement.fr).

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" value="3" checked=(raison === "3" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c3")
      | déplacements pour motif de santé.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" value="4" checked=(raison === "4" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c4")
      | déplacements pour motif familial impérieux, pour l’assistance aux personnes <br/>
      | vulnérables ou la garde d’enfants.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c5" value="5" checked=(raison === "5" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c5")
      | déplacements brefs, à proximité du domicile, liés à l’activité physique individuelle <br/>
      | des personnes, à l’exclusion de toute pratique sportive collective, et aux besoins <br/>
      | des animaux de compagnie.
