div(class="jumbotron")
  div(class='container-fluid')
    div(class="row")
      div(class="col-sm center")
        h4 ATTESTATION DE DÉPLACEMENT DÉROGATOIRE

    div(class="row")
      div(class="col-sm center")
        p
          | En application de l’article 1er du décret du 16 mars 2020 portant réglementation des <br/>
          | déplacements dans le cadre de la lutte contre la propagation du virus Covid-19 :

    div(class="row")
      div(class="col-sm frow")
        p Je soussigné(e)
