div(class="row")
  div(class="col-sm frow")
    p
      | certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par l’article 3 du <br/>
      | décret du 23 mars 2020 prescrivant les mesures générales nécessaires pour faire face à <br/>
      | l’épidémie de Covid19 dans le cadre de l’état d’urgence sanitaire<sup>1</sup> :

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c1" value="1" checked=(raison === "1" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c1")
      | Déplacements entre le domicile et le lieu d’exercice de l’activité professionnelle, <br/>
      | lorsqu’ils sont indispensables à l’exercice d’activités ne pouvant être organisées <br/>
      | sous forme de télétravail (sur justificatif permanent) ou déplacements <br/>
      | professionnels ne pouvant être différés<sup>2</sup>.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c2" value="2" checked=(raison === "2" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c2")
      | Déplacements pour effectuer des achats de fournitures nécessaires à l’activité <br/>
      | professionnelle et des achats de première nécessité<sup>3</sup> dans des établissements dont les <br/>
      | activités demeurent autorisées (liste sur #[a(target="_blank" href="https://www.gouvernement.fr/") gouvernement.fr]). 

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c3" value="3" checked=(raison === "3" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c3")
      | Consultations et soins ne pouvant être assurés à distance et ne pouvant être différés; <br/>
      | consultations et soins des patients atteints d'une affection de longue durée. 

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c4" value="4" checked=(raison === "4" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c4")
      | Déplacements pour motif familial impérieux, pour l’assistance aux personnes <br/>
      | vulnérables ou la garde d’enfants.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c5" value="5" checked=(raison === "5" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c5")
      | Déplacements brefs, dans la limite d'une heure quotidienne et dans un rayon maximal <br/>
      | d'un kilomètre autour du domicile, liés soit à l'activité physique individuelle des <br/>
      | personnes, à l'exclusion de toute pratique sportive collective et de toute proximité avec <br/>
      | d'autres personnes, soit à la promenade avec les seules personnes regroupées dans un <br/>
      | même domicile, soit aux besoins des animaux de compagnie. 

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c6" value="6" checked=(raison === "6" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c6")
      | Convocation judiciaire ou administrative.

div(class="form-group row")
  div(class="col-sm form-check")
    input(class="form-check-input" name="raison" type="radio" id="c7" value="7" checked=(raison === "7" ? "checked" : undefined) disabled=(disabled ? "disabled" : undefined))
    label(class="form-check-label" for="c7")
      | Participation à des missions d’intérêt général sur demande de l’autorité administrative.