doctype html
html(lang="fr")
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Site de creation d'attestation de deplacement derogatoire")
    title Deroga-19

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand|Roboto+Mono&display=swap")
    link(rel="stylesheet" href=(baseURL + "/css/style.css"))
    if pdf
      link(rel="stylesheet" href=(baseURL + "/css/pdf.css"))

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")

    block head

  body
    nav(class="navbar navbar-expand-sm navbar-dark bg-cred" hidden=(hidden ? "hidden" : undefined))
      a(class="navbar-brand" href="/") Deroga-19
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(id="home-link" class="nav-link" href="/") Accueil
          li(class="nav-item")
            a(id="deroga-link" class="nav-link" href="/form") Dérogation

    block content

    footer(class="page-footer font-small bg-cred" hidden=(hidden ? "hidden" : undefined))
      div(class="footer-copyright text-center py-3") © 2020 Copyright - Deroga-19

    script(src="/js/active.js")
